/*
 * @title: CSS Curriculum Vitae Alejandro Ruiz
 * @uthor: Alejandro Ruiz
 *
 */

 /*
  * Colores:
  * Azul Claro: c5ebf0;
  * Gris: #888;
  */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	font-family: Ubuntu;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

header, section {
	width: 80%;
	margin: 0 auto;
	border: 2px solid #888;
	margin-bottom: 15px;
	padding: 10px;
}

article {
	margin-bottom: 10px;
}

h1 {
	background-color: #99B6B9;
}

.link_titulo {
	text-decoration: none;
	color: #FFF;
	display: inline-block;
}

.link_titulo:hover {
	color: #888;
}

header h1 p {
	display: inline-block;
	color: #FFF;
}

h4 {
	color: #99B6B9;
  padding-bottom: 20px;
}

.datos_personales {}

.list_datos {
	text-align: center;
}

.tit_dato {
  display: none;
}

.dato_pers, .dato_ultimo {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  border-collapse: collapse;
  border-right: 2px solid #888;
}

.dato_ultimo {
	border: 0px; }

.cont_foto_curriculum {
	display: inline-block;
	vertical-align: middle;
	width: 32%;
}

.ima_cv {
	width: 100%;
	border-right: 6px solid #99B6B9;
}

.resumen {
	display: inline-block;
	vertical-align: middle;
	width: 64%;
	margin-left: 2%;
}

.resumen p {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.link_text_pf {
	text-decoration: none;
	color: #000;
	font-weight: bolder;
}

.link_text_pf:hover {
	color: #CCC;
}

.trabEmpr {
  text-decoration: none;
  color: #2F5352FF;
}

.trabEmpr:hover {
  color: #499F99FF;
}

.conocimiento {
	display: inline-block;
	margin-left: 10px;
}

.ico_tech {
	height: 25px;
}

.cont_exp_lab ul li,
.cont_estudios ul li {
	margin-left: 30px;
	padding-bottom: 15px;
}

/* Tablets y Móviles */
@media only screen and (max-width: 620px) {
	
	.titulo {
		display: block;
	}

	.cont_foto_curriculum {
		display: block;
		width: 100%;
	}

	.resumen {
		display: block;
		width: 100%;
		margin-left: 2%;
	}

}
